body{
    padding: 0;
    margin: 0px 100px;
    background-color: #14120B;
    color: #fff;
    box-sizing: border-box;
}
body {
  font-family: "CursorGothic", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
}
nav{
    background-color: #14120B;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    align-items: center;
    margin: 0px 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: -100px;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}
nav a{
    color: #EDECEC;
    text-decoration: none;
}
.nav-child-3{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.btn-1{
    background-color: #14120B;
    color: #EDECEC;
    border: 0.1px solid #EDECEC;
    border-radius: 30px;
    padding: 4px 12px;
}
.btn-1:hover{
    background-color: #292929;
    cursor: pointer;
}
.btn-2{
    border-radius: 30px;
    padding: 4px 12px;
}
.sec-1{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
.sec-1 img{
    margin-top: 50px;
    width: 1350px;
    border-radius: 10px;
}
.sec-1 button{
    border-radius: 50px;
    padding: 14px 28px;
    font-size: 16px;
    width: 20%;
}
.sec-2 h3{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 15px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
    margin-top: 20px;
     
}
.card-1{
    background-color: #1b1913;
    width: 70px;
    padding: 10px;
    height: 50px;
    width: 200px;
    border-radius: 6px;
}
.big-cards p{
    color: #F54E00;
}
.big-card-1, .big-card-2, .big-card-3{
    margin-top: 50px;
    background-color: #1b1913;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap: 150px;
}
.big-card-1 img{
    width: 850px;
    border-radius: 10px;
}
.big-card-2 img{
    width: 850px;
    border-radius: 10px
}
.big-card-3 img{
    width: 850px;
    border-radius: 10px
}
.h69 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px ;
}
.grid-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 0px;
}
.small-card{
    background-color: #1B1913;
    padding: 10px 30px;
    border-radius: 6px;
}
.recent{
    margin-top: -200px;
    background-color: #1B1913;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.recent-1 {
    background-color: #201E18;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: start; 
    flex-direction: column;   
    padding: 20px;
    margin: 10px;
}
.recent a{
    margin-top: 10px;
    color: #F54E00;
    text-decoration: none;
}
.recent-1:hover{
    background-color: #27251e;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background-color: #1B1913;
    padding: 30px;
    border-radius: 10px
}
.lii{
    color: #99988D;
    list-style: none;
    margin-bottom: 20px;
}

footer a{
    color: #EDECEC;
    text-decoration: none;
    list-style: none;
    line-height: 30px;
}
.footer-ki{
    display: flex;
    justify-content: space-between;
   margin: 40px 30px;
}
select{
    border-radius: 50px;
    padding: 1px 2px;
    font-size: 15px;
    background-color: #14120B;
    color: #EDECEC; 
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px;
}
article h1{
    font-size: 60px;
}
article button{
    border-radius: 50px;
    padding: 14px 28px;
    font-size: 16px;
    width: 20%;
}
.faltu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 90px;
}
.faltu button{
    border-radius: 50px;
    padding: 14px 28px;
    font-size: 16px;
    width: 10%;
    margin-bottom: 60px;
}
.faltu img{
    border-radius: 10px;
    width: 1350px;
}